body{
    font-family: 'Poppins', sans-serif;
}
.text-gray{
    color: #848199;
}
.text-blue{
    color: #231D4F;
}
.carousel-custom-item{
    top: 35%;
}
.pricing-list {
    position: relative;
    right: 2rem;
}
.pricing-list ul{
    list-style:none;
}
.pricing-list ul li{
    padding: 3px 0px;
}
@media only screen and (max-width: 576px) {
    .carousel-custom-item{
        top:-8%;
    }
    .carousel-custom-item h1{
        font-size: 16px;
    }
    .carousel-custom-item p{
        font-size: 8px;
    }
    .carousel-custom-item button{
        padding: 4px 10px;
        font-size: 8px;
    }
    
}